1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\gouri patnaik\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\gouri patnaik\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\gouri patnaik\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\gouri patnaik\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: outcome in c:\users\gouri patnaik\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\gouri patnaik\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\gouri patnaik\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#imports

import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#importing selenium webdriver

from selenium import webdriver

#importing required exceptions which need to be handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

#importing requests
import requests
from selenium.webdriver.common.by import By
import re

In [3]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [17]:
RANK=[]
NAME=[]
ARTIST=[]
UPLOAD_DATE=[]
VIEWS=[]
try:
    rank_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank_tag:
        RANK.append(i.text)            # to scrap rank
except:
    RANK.append('-')
    
try:     
    name_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')  
    for i in name_tag:
        NAME.append(i.text)             # to scrsp names
except NoSuchElementException:
    NAME.append('-')

try:
    artist_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')   
    for i in artist_tag:
        ARTIST.append(i.text)      # to scrap artist details
except NoSuchElementException:
    ARTIST.append('-')
    
try:
    date_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]') 
    for i in date_tag:
        UPLOAD_DATE.append(i.text)          # to scrap upload date
except NoSuchElementException:
    UPLOAD_DATE.append('-')

try:
    views_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')   
    for i in views_tag:
        VIEWS.append(i.text)        # to scrap views
        
except NoSuchElementException:
    VIEWS.append('-')
    
print(len(RANK),len(NAME),len(ARTIST),len(UPLOAD_DATE),len(VIEWS))

30 30 30 30 30

In [19]:
data1={"RANK":RANK,"NAME":NAME,"ARTIST":ARTIST,"UPLOAD_DATE":UPLOAD_DATE,"VIEWS":VIEWS}
df1=pd.DataFrame(data1)
df1

,RANK,NAME,ARTIST,UPLOAD_DATE,VIEWS
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.23
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
3,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,"May 2, 2018",6.33
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.05
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",5.98
6,7.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,"March 6, 2014",5.42
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.00
9,10.,"""Learning Colors â€“ Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,"February 27, 2018",4.94
10,11.,"""Gangnam Style""[30]",Psy,"July 15, 2012",4.86
11,12.,"""Masha and the Bear â€“ Recipe for Disaster""[35]",Get Movies - children's songs,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[36]",El Chombo,"April 5, 2018",4.41
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.00
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.91
15,16.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.84
16,17.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.84
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,"June 25, 2018",3.73
18,19.,"""Sorry""[42]",Justin Bieber,"October 22, 2015",3.69
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.68
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,"October 7, 2014",3.63
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.63
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.56
23,24.,"""Perfect""[47]",Ed Sheeran,"November 9, 2017",3.51
24,25.,"""Faded""[48]",Alan Walker,"December 3, 2015",3.49
25,26.,"""Let Her Go""[49]",Passenger,"July 25, 2012",3.48
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.45
28,29.,"""Bailando""[52]",Enrique Iglesias,"April 11, 2014",3.43
29,30.,"""Lean On""[53]",Major Lazer,"March 22, 2015",3.43

2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [35]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [37]:
button=driver.find_element(By.XPATH,'//button[@class="navbar-toggler menu-btn menu-icon"]')
button.click()

In [38]:
international=driver.find_element(By.XPATH,'//a[@class="nav-link "]')
international.click()

In [40]:
MATCH_TITLE=[]
SERIES=[]
PLACE=[]
DATE=[]
TIME=[]
try:
    title_tag=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"]/div/span[1]')
    for i in title_tag:
        MATCH_TITLE.append(i.text)      # to scrap the title
except NoSuchElementException:
    MATCH_TITLE.append('-')

try:
    series_tag=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"][1]/div/span[1]')    
    for i in series_tag:
        SERIES.append(i.text.split(' ')[0])           #to scrap series details
except NoSuchElementException:
    SERIES.append('-')

try:
    place_tag=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"][1]/div/span[2]')  
    for i in place_tag:
        PLACE.append(i.text)        # to scrap the place details
except NoSuchElementException:
    PLACE.append('-')

try:
    date_tag=driver.find_elements(By.XPATH,'//div[@class="match-card-top"][1]/div/div[1]') 
    for i in date_tag:
        DATE.append(i.text)            # to scrap date
except NoSuchElementException:
    PLACE.append('-')
try:
    time_tag=driver.find_elements(By.XPATH,'//div[@class="match-card-top"][1]/div/div[2]')    
    for i in time_tag:
        TIME.append(i.text)    # to scrap time details                        
                              
except NoSuchElementException:
    TIME.append('-')
                             
                            
print(len(MATCH_TITLE),len(SERIES),len(PLACE),len(DATE),len(TIME))

8 8 8 8 8

In [41]:
data2={"MATCH TITLE":MATCH_TITLE,"SERIES":SERIES,"PLACE":PLACE,"DATE":DATE,"TIME":TIME}
df2=pd.DataFrame(data2)
df2

,MATCH TITLE,SERIES,PLACE,DATE,TIME
0,1st T20I -,1st,"The Village,",18 AUG 2023,7:30 PM IST
1,2nd T20I -,2nd,"The Village,",20 AUG 2023,7:30 PM IST
2,3rd T20I -,3rd,"The Village,",23 AUG 2023,7:30 PM IST
3,1st ODI -,1st,"Pallekele International Cricket Stadium,",2 SEP 2023,10:00 AM IST
4,2nd ODI -,2nd,"Pallekele International Cricket Stadium,",4 SEP 2023,10:00 AM IST
5,1st ODI -,1st,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
6,2nd ODI -,2nd,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST
7,3rd ODI -,3rd,"Saurashtra Cricket Association Stadium,",27 SEP 2023,1:30 PM IST

Q3: Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [74]:
driver=webdriver.Chrome()
driver.get(' http://statisticstimes.com/')

In [77]:
Economy=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
Economy.click()
Economy_india=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
Economy_india.click()

In [80]:
GDP_IndianStates=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_IndianStates.click()

In [89]:
RANK=[]
STATE=[]
GSDP1819=[]
GSDP1920=[]
SHARE1819=[]
GDP=[]

rank_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
for i in rank_tag:
    RANK.append(i.text)         # to scrap rank details
    

state_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]') 
for i in state_tag:
    STATE.append(i.text)       # to scrap state details   
    

gsdp1819_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')    
for i in gsdp1819_tag:
    GSDP1819.append(i.text)        # to scrap GSDP 18-19
    

gsdp1920_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')    
for i in gsdp1920_tag:
    GSDP1920.append(i.text)     # to scrap GSDP 19-20

    
share_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
for i in share_tag:
    SHARE1819.append(i.text)    # to scrap SHARE(18-19 
    
gdp_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
for i in gdp_tag:
    GDP.append(i.text)        # to scrap GDP

print(len(RANK),len(STATE),len(GSDP1819),len(GSDP1920),len(SHARE1819),len(GDP))

33 33 33 33 33 33

In [90]:
data3={"RANK":RANK,"STATE":STATE,"GSDP(18-19)":GSDP1819,"GSDP(19-20)":GSDP1920,"SHARE(18-19)":SHARE1819,"GDP":GDP}
df3=pd.DataFrame(data3)
df3

,RANK,STATE,GSDP(18-19),GSDP(19-20),SHARE(18-19),GDP
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [3]:
driver=webdriver.Chrome()
driver.get(' https://github.com/')

In [4]:
categories=driver.find_element(By.XPATH,'//span[@class="Button-content"]')
categories.click()

In [5]:
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()
trendingRepository=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trendingRepository.click()

In [9]:
GITHUB_URL=[]
url=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in url:
    GITHUB_URL.append(i.get_attribute('href'))
len(GITHUB_URL)

25

In [10]:
d1={"GITHUB URL":GITHUB_URL}
DF=pd.DataFrame(d1)
DF

                                           GITHUB URL
0              https://github.com/getumbrel/llama-gpt
1                    https://github.com/qiuyu96/CoDeF
2      https://github.com/leejet/stable-diffusion.cpp
3        https://github.com/jackfrued/Python-100-Days
4                https://github.com/LorisYounger/VPet
5                https://github.com/kuafuai/DevOpsGPT
6                   https://github.com/calcom/cal.com
7         https://github.com/Grasscutters/Grasscutter
8             https://github.com/vinta/awesome-python
9            https://github.com/dimdenGD/OldTweetDeck
10                  https://github.com/serde-rs/serde
11             https://github.com/ill-inc/biomes-game
12  https://github.com/facebookresearch/AnimatedDr...
13  https://github.com/elidianaandrade/dio-lab-ope...
14             https://github.com/documenso/documenso
15  https://github.com/microsoft/Bringing-Old-Phot...
16         https://github.com/organicmaps/organicmaps
17   https://github.com/OpenBB-finance/OpenBBTerminal
18  https://github.com/EbookFoundation/free-progra...
19                 https://github.com/smol-ai/GodMode
20                https://github.com/jiran214/GPT-vup
21  https://github.com/hehonghui/awesome-english-e...
22            https://github.com/roboflow/supervision
23               https://github.com/aseprite/aseprite
24                https://github.com/StanGirard/quivr

In [24]:
CONTRIBUTORS_COUNT=[]
for url in GITHUB_URL:
    driver.get(url)
    time.sleep(5)
    try:                                                                     # to scrap contributors count
        contributors_tag=driver.find_elements(By.XPATH,'//div[@class="Layout-sidebar"][1]/div[1]/div[3]/div[1]/h2[1]/a[1]/span[1]')
        for i in contributors_tag:
            CONTRIBUTORS_COUNT.append(i.text)
    except NoSuchElementException:
         CONTRIBUTORS_COUNT.append('-')    
print(len(CONTRIBUTORS_COUNT))

22

In [11]:

REPOSITORY_TITLE=[]
REPOSITORY_DESCRIPTION=[]
CONTRIBUTORS_COUNT=[]
LANGUAGE=[]

for url in GITHUB_URL:
    driver.get(url)
    time.sleep(5)
        
    try:                                                                      # for scraping repository_title
    
        title_tag=driver.find_elements(By.XPATH,'//span[@class="author flex-self-stretch"][1]/a[1]')
        for i in title_tag:
            REPOSITORY_TITLE.append(i.text)        
    except NoSuchElementException:
        REPOSITORY_TITLE.append('-')
    
    try:                                                                     #for scraping repository description
        description_tag=driver.find_elements(By.XPATH,'//div[@class="Layout-sidebar"][1]/div/div/div/p[1]')  
        for i in description_tag:
            REPOSITORY_DESCRIPTION.append(i.text)         
    except NoSuchElementException:
        REPOSITORY_DESCRIPTION.append('-')
    
    try:                                                                     # to scrap contributors count
        contributors_tag=driver.find_elements(By.XPATH,'//div[@class="Layout-sidebar"]//div[1]//div[3]/div[1]//h2[1]//a[1]//span[1]')
        for i in contributors_tag:
            CONTRIBUTORS_COUNT.append(i.text)
    except NoSuchElementException:
        CONTRIBUTORS_COUNT.append('-')
    # to scrap languages used
    try: 
        language_tag=driver.find_elements(By.XPATH,'//div[@class="Layout-sidebar"]//div[1]//div[4]//ul[1]')
        for i in language_tag:
            LANGUAGE.append(i.text)
    except NoSuchElementException:
        LANGUAGE.append('-')
    
print(len(REPOSITORY_TITLE),len(REPOSITORY_DESCRIPTION),len(CONTRIBUTORS_COUNT),len(LANGUAGE))

25 25 18 16

In [21]:
data4={"REPOSITORY TITLE":REPOSITORY_TITLE,"REPOSITORY DESCRIPTION":REPOSITORY_DESCRIPTION,"CONTRIBUTORS COUNT":CONTRIBUTORS_COUNT,"LANGUAGE":LANGUAGE}
df4=pd.DataFrame(data4)
df4

Empty DataFrame
Columns: [REPOSITORY TITLE, REPOSITORY DESCRIPTION]
Index: []

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [84]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/charts/')
time.sleep(10)

In [86]:
charts=driver.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-justify-content-center"]/a')
charts.click()

In [92]:
SONG_NAME=[]
ARTIST_NAME=[]
LASTWEEK_RANK=[]
PEAK_RANK=[]
WEEKS_ON_BOARD=[]

#for scraping song name
try:
    name_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
    for i in name_tag:
        SONG_NAME.append(i.text)
except NoSuchElementException:
    SONG_NAME.append('-')
    
#for scraping artist name:

try:
    artist_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in artist_tag:
        ARTIST_NAME.append(i.text)
except NoSuchElementException:
    ARTIST_NAME.append('-')
    
#for scraping lastweek rank:
try:
    lastweek_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
    for i in lastweek_tag:
        LASTWEEK_RANK.append(i.text)
except NoSuchElementException:   
    LASTWEEK_RANK.append('-')
    
 #for scraping peakrank:
try:
    peak_rank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
    for i in peak_rank:
            PEAK_RANK.append(i.text)
except NoSuchElementException:
    PEAK_RANK.append('-')
    
#for scraping weeks on board
try:
    weeks_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
    for i in weeks_tag:
        WEEKS_ON_BOARD.append(i.text)
except NoSuchElementException:
    WEEKS_ON_BOARD.append('-')

print(len(SONG_NAME),len(ARTIST_NAME),len(LASTWEEK_RANK),len(PEAK_RANK),len(WEEKS_ON_BOARD))

100 100 100 100 100

In [93]:
data5={"SONG NAME":SONG_NAME,"ARTIST NAME":ARTIST_NAME,"LASTWEEK RANK":LASTWEEK_RANK,"PEAK RANK":PEAK_RANK,"WEEKS_ON_BOARD":WEEKS_ON_BOARD}
df5=pd.DataFrame(data5)
df5

,SONG NAME,ARTIST NAME,LASTWEEK RANK,PEAK RANK,WEEKS_ON_BOARD
0,Last Night,Morgan Wallen,1,1,28
1,Fast Car,Luke Combs,2,2,20
2,Cruel Summer,Taylor Swift,4,3,14
3,Calm Down,Rema & Selena Gomez,6,3,49
4,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
96,Overdrive,Post Malone,68,47,3
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
99,Rubicon,Peso Pluma,-,63,6

Q6: Url =
https://www.theguardian.com/news/datablog/2012/aug/09/best
-
selling
-
books
-
all
-
time
-
fifty
-
shades
-
grey
-
You have to find the following details:
Scrape the details of Highest selling novels.
compare
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [6]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [8]:
BOOK_NAME=[]
AUTHOR_NAME=[]
VOLUMES_SOLD=[]
PUBLISHER=[]
GENRE=[]
# for scraping names
try:
    name_tag=driver.find_elements(By.XPATH,'//div[@class="embed block"][1]/table/tbody/tr/td[2]')
    for i in name_tag:
        BOOK_NAME.append(i.text)
except NoSuchElementException:
    BOOK_NAME.append('-')
    
#for scraping Author name
try:
    author_tag=driver.find_elements(By.XPATH,'//div[@class="embed block"][1]/table/tbody/tr/td[3]')
    for i in author_tag:
        AUTHOR_NAME.append(i.text)
        
except NoSuchElementException:
    AUTHOR_NAME.append('-')
    
#for scraping volumes sold:
try:
    volumes_tag=driver.find_elements(By.XPATH,'//div[@class="embed block"][1]/table/tbody/tr/td[4]')
    for i in volumes_tag:
        VOLUMES_SOLD.append(i.text)
except NoSuchElementException:    
    VOLUMES_SOLD.append('-')
    
#for scraping publisher
try:
    publisher_tag=driver.find_elements(By.XPATH,'//div[@class="embed block"][1]/table/tbody/tr/td[5]')
    for i in publisher_tag:
        PUBLISHER.append(i.text)
except NoSuchElementException:    
    PUBLISHER.append('-')
    
# for scraping genre:
try:
    genre_tag=driver.find_elements(By.XPATH,'//div[@class="embed block"][1]/table/tbody/tr/td[6]')
    for i in genre_tag:
        GENRE.append(i.text)
except NoSuchElementException:   
    GENRE.append('-')
    
print(len(BOOK_NAME),len(AUTHOR_NAME),len(VOLUMES_SOLD),len(PUBLISHER),len(GENRE))

100 100 100 100 100

In [9]:
data6={"BOOK NAME":BOOK_NAME,"AUTHOR NAME":AUTHOR_NAME,"VOLUMES SOLD":VOLUMES_SOLD,"PUBLISHER":PUBLISHER,"GENRE":GENRE}
df6=pd.DataFrame(data6)
df6

,BOOK NAME,AUTHOR NAME,VOLUMES SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q7: Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [17]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [20]:
NAME=[]
YEAR_SPAN=[]
GENRE=[]
RUN_TIME=[]
RATINGS=[]
VOTES=[]

# for scraping names of tv shows
try:
    name_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/h3/a')
    for i in name_tag:
        NAME.append(i.text)
except NoSuchElementException:
    NAME.append('-')

# for scraping year span    
try:
    year_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/h3/span[2]')
    for i in year_tag:
        YEAR_SPAN.append(i.text)
except NoSuchElementException:
    YEAR_SPAN.append('-')  
    
# for scraping GENRE:    
try:
    genre_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/p[1]/span[5]')
    for i in genre_tag:
        GENRE.append(i.text)
except NoSuchElementException:
    GENRE.append('-')
    
#for scraping run time:
try:
    runtime_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/p[1]/span[3]')
    for i in runtime_tag:
        RUN_TIME.append(i.text)
except NoSuchElementException:
    RUN_TIME.append('-')
    
#for scraping ratings:
try:
    ratings_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/div/div/span[2]')
    for i in ratings_tag:
        RATINGS.append(i.text)
except NoSuchElementException:
    RATINGS.append('-')

#for scraping votes:
try:
    votes_tag=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/p[4]/span[2]')
    for i in votes_tag:
        VOTES.append(i.text)
except NoSuchElementException:
    VOTES.append('-')
    
print(len(NAME),len(YEAR_SPAN),len(GENRE),len(RUN_TIME),len(RATINGS),len(VOTES))

100 100 100 100 100 100

In [22]:
data7={"NAME":NAME,"YEAR SPAN":YEAR_SPAN,"RUN TIME":RUN_TIME,"RATINGS":RATINGS,"VOTES":VOTES}
df7=pd.DataFrame(data7)
df7

                              NAME    YEAR SPAN RUN TIME RATINGS      VOTES
0                  Game of Thrones  (2011â€“2019)   57 min     9.2  2,193,366
1                  Stranger Things  (2016â€“2024)   51 min     8.7  1,267,099
2                 The Walking Dead  (2010â€“2022)   44 min     8.1  1,041,100
3                   13 Reasons Why  (2017â€“2020)   60 min     7.5    305,991
4                          The 100  (2014â€“2020)   43 min     7.6    265,074
..                             ...          ...      ...     ...        ...
95                           Reign  (2013â€“2017)   42 min     7.4     52,435
96  A Series of Unfortunate Events  (2017â€“2019)   50 min     7.8     64,462
97                  Criminal Minds     (2005â€“ )   42 min     8.1    210,123
98           Scream: The TV Series  (2015â€“2019)   45 min       7     43,693
99      The Haunting of Hill House       (2018)  572 min     8.6    263,707

[100 rows x 5 columns]

Q8: Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [24]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [26]:
view_dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_dataset.click()

In [35]:
DATASET_URL=[]
url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    DATASET_URL.append(i.get_attribute('href'))
len(DATASET_URL)

10

In [36]:
D2={"DATAURL":DATASET_URL}
df9=pd.DataFrame(D2)
df9

                                             DATAURL
0        https://archive.ics.uci.edu/dataset/53/iris
1  https://archive.ics.uci.edu/dataset/45/heart+d...
2        https://archive.ics.uci.edu/dataset/2/adult
3  https://archive.ics.uci.edu/dataset/602/dry+be...
4    https://archive.ics.uci.edu/dataset/34/diabetes
5       https://archive.ics.uci.edu/dataset/109/wine
6  https://archive.ics.uci.edu/dataset/17/breast+...
7  https://archive.ics.uci.edu/dataset/545/rice+c...
8  https://archive.ics.uci.edu/dataset/19/car+eva...
9    https://archive.ics.uci.edu/dataset/73/mushroom

In [54]:
DATASET_NAME=[]
DATA_TYPE=[]
TASK=[]
ATTRIBUTE_TYPE=[]
NO_INSTANCES=[]
NO_ATTRIBUTES=[]
YEAR=[]
for url in DATASET_URL:
    driver.get(url)
    time.sleep(3)
    # to scrap dataset name
    try:
        name_tag=driver.find_elements(By.XPATH,'//div[@class="relative flex flex w-full items-center gap-4 bg-primary p-2"][1]/div[2]/div[1]/h1[1]')
        for i in name_tag:
            DATASET_NAME.append(i.text)
    except NoSuchEementException:
        DATASET_NAME.append('-')
        
    # to scrap data type
    try:
        type_tag=driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[1]/p[1]')
        for i in type_tag:
            DATA_TYPE.append(i.text)
    except NoSuchElementException:
        DATA_TYPE.append('-')      
    #for scraping task:
    try:
        task_tag=driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"][1]/div[2]/div[3]/p[1]')
        for i in task_tag:
            TASK.append(i.text)
    except NoSuchEementException:
        TASK.append('-')
     # for scraping attribute type
    try:
        attribute_type=driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"][1]/div[2]/div[4]/p[1]')
        for i in attribute_type:
            ATTRIBUTE_TYPE.append(i.text)
    except NoSuchEementException:
        ATTRIBUTE_TYPE.append('-')
     # for scraping no of instances
    try:
        instance_tag=driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"][1]/div[2]/div[5]/p[1]')
        for i in instance_tag:
            NO_INSTANCES.append(i.text)
    except NoSuchEementException:
        NO_INSTANCES.append('-')
        
     #for scraping noof attributes:
    try:
        no_attribute=driver.find_elements(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"][1]/div[2]/div[6]/p[1]')
        for i in no_attribute:
            NO_ATTRIBUTES.append(i.text)
    except NoSuchEementException:   
        NO_ATTRIBUTES.append('-')
        
print(len(DATASET_NAME),len(DATA_TYPE),len(TASK),len(ATTRIBUTE_TYPE),len(NO_INSTANCES),len(NO_ATTRIBUTES))

10 10 10 10 10 10

In [55]:
data8={"DATASET NAME":DATASET_NAME,"DATA_TYPE":DATA_TYPE,"TASK":TASK,"ATTRIBUTE_TYPE":ATTRIBUTE_TYPE,"NO OF INSTANCES":NO_INSTANCES,"NO OF ATTRIBUTES":NO_ATTRIBUTES}
df8=pd.DataFrame(data8)
df8

,DATASET NAME,DATA_TYPE,TASK,ATTRIBUTE_TYPE,NO OF INSTANCES,NO OF ATTRIBUTES
0,Iris,Multivariate,Classification,Real,150,4
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20
5,Wine,Multivariate,Classification,"Integer, Real",178,13
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30
7,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8
8,Car Evaluation,Multivariate,Classification,Categorical,1728,6
9,Mushroom,Multivariate,Classification,Categorical,8124,22